#!/usr/bin/env bash

# Make vim the default editor.
export EDITOR=vim
export VISUAL=$EDITOR
export SUDO_EDITOR=$EDITOR
export BROWSER=firefox

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8'

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768'
export HISTFILESIZE="${HISTSIZE}"
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth'

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8'
export LC_ALL='en_US.UTF-8'

# Allow less's default behavior to use termcap. This allows mouse scrolling.
# Change to 'less -X' to capture output in terminal and disable mouse scrolling.
export MANPAGER='less'

# Ruby GEMS stuff
PATH="$PATH:$(ruby -e 'print Gem.user_dir')/bin"
export GEM_HOME=$HOME/.gem

# add pip ~/.local/bin to path
PATH="$PATH:$HOME/.local/bin"

# geolocation shit
export CURRENT_CITY="São Carlos, Brazil"
export CURRENT_GEO="-22.0183737:-47.8911570"
#export CURRENT_CITY="Geneve, Switzerland"
#export CURRENT_GEO="46.2339717:6.0557211"
